In [12]:
a="Hello World"
print(len(a))

11

In [13]:
txt="hellow the is the my area"
print("free" in txt)

False

In [14]:
b="hello world"
print(b[2:7])

llo w

In [15]:
b="hello world"
print(b[:5])

hello

In [16]:
b="hello world"
print(b[:-5])
print(b[-1])

hello
d

In [17]:
b="hello world"
print(b.strip())

hello world

In [18]:
b="hello world"
print(b.upper())

HELLO WORLD

In [19]:
a="hello world"
print(a.replace("h" , "J"))

Jello world

In [20]:
a="hello world"
print(a.split("r"))

['hello wo', 'ld']

In [21]:
a="hello"
b="hai"
c=a+" " +b
print(c)

hello hai

# not possible in python

In [22]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

# but we can do with format method

In [ ]:
old=40
a="my name disco,i am {}"
print(a.format(old))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

In [23]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

# search apple between 10 to 24

In [ ]:
txt = "I love apples, apple  are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

# encode

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

In [ ]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

In [ ]:
## end with specifed value

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

In [3]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5,11)

print(x)

False

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))
print(txt.expandtabs(1))

# find

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

In [32]:
txt = "For only {price} dollars!"
print(txt.format(price = 49))

For only 49 dollars!

In [36]:
#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John",36)
#empty placeholders:
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [2]:
#for left align

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

Boolen

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
# this are flase for boolen

In [6]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

Membership Operator

In [8]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [9]:
x = ["apple", "banana"]

print("banana" in x)

True

In [11]:

if 5!=10: 
  print("5 and 10 is not equal")

5 and 10 is not equal

LIST

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [2]:
thislist = ["apple", "banana", "cherry","mango"]
print(len(thislist))

4

In [3]:
# print using constructor
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [5]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included
# if 5 the postion want to be include put 6 in square bracket

['cherry', 'orange', 'kiwi']

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

In [8]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [3]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

In [4]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

To add an item to the end of the list, use the append() method:

In [5]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

To append elements from another list to the current list, use the extend() method.

In [6]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The remove() method removes the specified item.

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
The pop() method removes the specified index.
If you do not specify the index, the pop() method removes the last item.
The del keyword also removes the specified index:
The del keyword can also delete the list completely.
The clear() method empties the list.

The list still remains, but it has no content.

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

whatever type in the terminal treated as string
Convert value to different types

In [11]:
birth_year=input("Birth Year")
a=int(birth_year)
age=2022-a
print(age)

KeyboardInterrupt: Interrupted by user

https://www.youtube.com/watch?v=_uQrJ0TkZlc

In [ ]:
import random
def guess(x):
    random_number=random.randint(1,x)

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are same")

a and b are same

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
if a > b: print("a is greater than b")

a is greater than b

In [5]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [7]:
a = 330
b = 330
print("A") if a > b else print("same") if a == b else print("B")

same

In [8]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [9]:
a = 33
b = 200

if b > a:
  pass

Python While Loops

In [10]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [11]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

With the continue statement we can stop the current iteration, and continue with the next

In [12]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [13]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [15]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [19]:
for x in range(6):     #range function
  print(x)

0
1
2
3
4
5

In [20]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [21]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [22]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [24]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [25]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python Functions

In [27]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [28]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [29]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [32]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [33]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

In [34]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [35]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()          #usee default value
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [36]:
def my_function(food):  #it change food as fruits
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [37]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [40]:
x = lambda a : a + 10
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

15
30
13

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2) #2 pass to the a

print(mydoubler(13))  #13 pass to the n

In [41]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [47]:
cars=["ford","Volvo","tata"]
cars.remove("Volvo")
print(cars)

['ford', 'tata']

Class

In [50]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

In [58]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name +  "I am ")
    print(self.age)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is JohnI am
36

In [59]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40  # modify the properties

print(p1.age)

40

Global Function

In [1]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [2]:
# Python program to illustrate
# functions
def hello():
    print("hello")
    print("hello again")
hello()
  
# calling function
hello()

hello
hello again
hello
hello again

In [4]:
# Python program to illustrate 
# function with main
def getInteger():
    result = int(input("Enter integer: "))
    return result
  
def Main():
    print("Started")
  
    # calling the getInteger function and 
    # storing its returned value in the output variable
    output = getInteger()     
    print(output)

Bult in Math module

In [5]:
# importing built-in module math
import math
 
# using square root(sqrt) function contained
# in math module
print(math.sqrt(25))
 
# using pi function contained in math module
print(math.pi)
 
# 2 radians = 114.59 degrees
print(math.degrees(2)) 
 
# 60 degrees = 1.04 radians
print(math.radians(60)) 
 
# Sine of 2 radians
print(math.sin(2)) 
 
# Cosine of 0.5 radians
print(math.cos(0.5)) 
 
# Tangent of 0.23 radians
print(math.tan(0.23))
 
# 1 * 2 * 3 * 4 = 24
print(math.factorial(4)) 
 
# importing built in module random
import random
 
# printing random integer between 0 and 5
print(random.randint(0, 5)) 
 
# print random floating point number between 0 and 1
print(random.random()) 
 
# random number between 0 and 100
print(random.random() * 100) 
 
List = [1, 4, True, 800, "python", 27, "hello"]
 
# using choice function in random module for choosing
# a random element from a set such as a list
print(random.choice(List))
 
 
# importing built in module datetime
import datetime
from datetime import date
import time
 
# Returns the number of seconds since the
# Unix Epoch, January 1st 1970
print(time.time()) 
 
# Converts a number of seconds to a date object
print(date.fromtimestamp(454554))

5.0
3.141592653589793
114.59155902616465
1.0471975511965976
0.9092974268256817
0.8775825618903728
0.23414336235146527
24
3
0.3272216871477822
99.08065624265606
hello
1644904990.7629824
1970-01-06

Python Keyword

In [6]:
# Python code to demonstrate working of iskeyword()
  
# importing "keyword" for keyword operations
import keyword
  
# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']