In [12]:
a="Hello World"
print(len(a))

11

In [13]:
txt="hellow the is the my area"
print("free" in txt)

False

In [14]:
b="hello world"
print(b[2:7])

llo w

In [15]:
b="hello world"
print(b[:5])

hello

In [16]:
b="hello world"
print(b[:-5])
print(b[-1])

hello
d

In [17]:
b="hello world"
print(b.strip())

hello world

In [18]:
b="hello world"
print(b.upper())

HELLO WORLD

In [19]:
a="hello world"
print(a.replace("h" , "J"))

Jello world

In [20]:
a="hello world"
print(a.split("r"))

['hello wo', 'ld']

In [21]:
a="hello"
b="hai"
c=a+" " +b
print(c)

hello hai

# not possible in python

In [22]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

# but we can do with format method

In [ ]:
old=40
a="my name disco,i am {}"
print(a.format(old))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

In [23]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

# search apple between 10 to 24

In [ ]:
txt = "I love apples, apple  are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

# encode

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

In [ ]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

In [ ]:
## end with specifed value

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

In [3]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5,11)

print(x)

False

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))
print(txt.expandtabs(1))

# find

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

In [32]:
txt = "For only {price} dollars!"
print(txt.format(price = 49))

For only 49 dollars!

In [36]:
#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John",36)
#empty placeholders:
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [2]:
#for left align

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

Boolen

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
# this are flase for boolen

In [6]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

Membership Operator

In [8]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [9]:
x = ["apple", "banana"]

print("banana" in x)

True

In [11]:

if 5!=10: 
  print("5 and 10 is not equal")

5 and 10 is not equal

LIST

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [2]:
thislist = ["apple", "banana", "cherry","mango"]
print(len(thislist))

4

In [3]:
# print using constructor
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [5]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included
# if 5 the postion want to be include put 6 in square bracket

['cherry', 'orange', 'kiwi']

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

In [8]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [3]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

In [4]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

To add an item to the end of the list, use the append() method:

In [5]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

To append elements from another list to the current list, use the extend() method.

In [6]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The remove() method removes the specified item.

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
The pop() method removes the specified index.
If you do not specify the index, the pop() method removes the last item.
The del keyword also removes the specified index:
The del keyword can also delete the list completely.
The clear() method empties the list.

The list still remains, but it has no content.

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

whatever type in the terminal treated as string
Convert value to different types

In [11]:
birth_year=input("Birth Year")
a=int(birth_year)
age=2022-a
print(age)

KeyboardInterrupt: Interrupted by user

https://www.youtube.com/watch?v=_uQrJ0TkZlc

In [ ]:
import random
def guess(x):
    random_number=random.randint(1,x)

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are same")

a and b are same

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
if a > b: print("a is greater than b")

a is greater than b

In [5]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [7]:
a = 330
b = 330
print("A") if a > b else print("same") if a == b else print("B")

same

In [8]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True